=form_for note, remote: true, url: menu_item_notes_path(menu_item), html: {'data-model' => 'note', :class => "form-inline"} do |f|
  =f.text_area :text, placeholder: "Say something about this item!", class: "form-control popover-input no-resize"
