-content_for :head do
  =javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDeTwOMn3ZRwUcETE8wB2zxTVR-Dznbgv0"
  =javascript_include_tag "gmaps.js"

#top-content
  #search-bar

#main-content
  #title-bar.row
    .col-lg-2
      .column-header
        =link_to "Featured Carts", "#"
    .col-lg-7
      .column-header
        =link_to "Search Results", "#"
    .col-lg-3
      .column-header
        =link_to "Reviews", "#"

  #featured-bar.col-lg-2.column.column-left

  #search-results.col-lg-7.column.column-center
    .column-content
      #carts
        -@carts.each do |cart|
          =render(cart)
  #other-results.col-lg-3.column.column-right
