=render partial: "layouts/carts", locals: {carts: @carts, small: true, tq: @tq, lq: @lq, blank_message: "No results to display"}
-content_for :pagination do
  -if @total > 20
    .page-numbers
      %ul.pagination
        %li
          %a{href: "#", "data-page" => @offset / 20 - 1} prev
        %li
          %a{href: "#", "data-page" => (@offset / 200) * 10}=(@offset / 200) * 10 + 1
        -(1...@left + 1).each do |i|
          %li
            %a{href: "#", "data-page" => (@offset / 200) * 10 + i}=(@offset / 200) * 10 + i + 1
        %li
          %a{href: "#", "data-page" => @offset / 20 + 1} next
