#carts
  #top-content
    %nav#search-bar.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .collapse.navbar-collapse.row
        .col-lg-4
          .nav.navbar-nav.padded
            .home-link
              =link_to "Cartwheels", home_path, "data-no-turbolink" => true
        %form.navbar-form.search-form.col-lg-8{role: "search", action: "/search"}
          .form-group
            %input.form-control.form-input#food{type: "text", name: "tq", placeholder: "Food"}
            %input.form-control.form-input.location-input#loc{type: "text", name: "lq", placeholder: "Location"}
            %button.btn.btn-primary.nav-btn Search

  #main-content
    #title-bar.row
      .col-lg-2
        .column-header
      .col-lg-7
        .column-header
          =link_to "Manage Carts", "#"
      .col-lg-3
        .column-header

    #featured-bar.col-lg-2.column.column-left
    #search-results.col-lg-7.column.column-center
      .column-content
        -@owner.carts.each do |cart|
          .manager-item
            .manager-header
              .name=cart.name
              .permit-number=cart.permit_number
              .actions
                =link_to "Edit", edit_cart_path(cart)
                =link_to "Show", cart_path(cart)
            .manager-content
              =render partial: "carts/cart", locals: {cart: cart, small: false}
