-content_for :head do
  =javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDeTwOMn3ZRwUcETE8wB2zxTVR-Dznbgv0"

#poster.carousel.slide{speed: ".5"}
  .fill
    .banner
      %span Cartwheels

%nav.navbar.navbar-inverse{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
          %span.icon-bar
            %span.icon-bar
              %a.navbar-brand{href: "index.php"} Start Bootstrap
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li
          %a{href: "#about"} Map
        %li
          %a{href: "#services"} Social Media
        %li
          %a{href: "#carts"} Carts
        %li
          %a{href: "#about"} About
      %ul.nav.navbar-nav.icons
        %a.navbar-brand{href: "#"}
          =image_tag("fb-icon.png")
        %a.navbar-brand{href: "#hello"}
          =image_tag("tw-icon.png")
        %a.navbar-brand{href: "#world"}
          =image_tag("gp-icon.png")

#main-content.container
  #map-header.row
    .col-lg-1.col-md-1.col-sm-1.col-xs-1
    .col-lg-4.col-md-4.col-sm-4.col-xs-4
      .row-header Find Carts In Your Area
  #map-container.row
    #map-input
      %input.gmaps-input
      %button.gmaps-button.btn.btn-primary
        =image_tag("search.png")
    #map-div

  %footer.row
    .row
      .col-lg-12
        %p Copyright © Cartwheels 2014
