-content_for :head do
  =javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDeTwOMn3ZRwUcETE8wB2zxTVR-Dznbgv0"
  =javascript_include_tag "gmaps.js"

#poster.carousel.slide{speed: "0.2"}
  .fill
    .banner
      %span Cartwheels

%nav#navbar-wrapper.navbar.navbar-inverse{role: "navigation"}
  .container
    / Collect the nav links, forms, and other content for toggling
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-left
      .nav.navbar-nav
        %ul.navbar-center
          %li
            %a{href: "#about"} Map
          %li
            %a{href: "#services"} Social Media
          %li
            %a{href: "/carts"} Carts
          %li
            %a{href: "#about"} About
      %ul.nav.navbar-nav.navbar-right
        %a.navbar-brand{href: "http://facebook.com"}
          =image_tag("fb-icon.png")
        %a.navbar-brand{href: "http://twitter.com"}
          =image_tag("tw-icon.png")
        %a.navbar-brand{href: "http://plus.google.com"}
          =image_tag("gp-icon.png")

#main-content.container
  #map-header.row
    .col-lg-1.col-md-1.col-sm-1.col-xs-1
    .col-lg-4.col-md-4.col-sm-4.col-xs-4
      .row-header Find Carts In Your Area
  #map-container.row
    #map-input
      .input-block
        %input.gmaps-input{placeholder: "Halal Guys, wafles and dinges, breakfast"}
        %input.gmaps-input.input-hidden{placeholder: "10282, brooklyn, 456 allen st"}
      %button.gmaps-button.btn.btn-primary
        =image_tag("search.png")
      .more.hide
        %a{href: "#"}More
    #map-tags
      .tags-header
        %a{href: "#"} Search For

      .form-group
        .checkbox.tag
          %label
            %input{type: "checkbox"} Trucks
        .checkbox.tag
          %label
            %input{type: "checkbox"} Halal
        .checkbox.tag
          %label
            %input{type: "checkbox"} Hot Dog Stands
        .checkbox.tag
          %label
            %input{type: "checkbox"} Dessert
        .checkbox.tag
          %label
            %input{type: "checkbox"} Breakfast
        .checkbox.tag
          %label
            %input{type: "checkbox"} Fruit
        .checkbox.tag
          %label
            %input{type: "checkbox"} Other
    #map-div

  %footer.row
    .row
      .col-lg-12
        %p Copyright © Cartwheels 2014
