-content_for :head do
  =javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDeTwOMn3ZRwUcETE8wB2zxTVR-Dznbgv0"
  =javascript_include_tag "gmaps.js"

#poster.carousel.slide{speed: "0.2"}
  .fill
    .banner
      %span Cartwheels

%nav#navbar-wrapper.navbar.navbar-inverse{role: "navigation"}
  .container
    / Collect the nav links, forms, and other content for toggling
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-left
        -if not user_signed_in? or owner_signed_in?
          .login-link
            =link_to "Sign Up", register_path
          .login-link
            =link_to "Log In", login_path
      .nav.navbar-nav
        %ul.navbar-center
          %li.active
            %a{href: "#about"} Map
          %li
            %a{href: "#about"} About
      %ul.nav.navbar-nav.navbar-right
        %a.navbar-brand{href: "https://www.facebook.com/cartwheelsUS"}
          =image_tag("fb-icon.png")
        %a.navbar-brand{href: "http://twitter.com"}
          =image_tag("tw-icon.png")
        %a.navbar-brand{href: "http://plus.google.com"}
          =image_tag("gp-icon.png")

#main-content.container
  #map-header.row
    .col-lg-1.col-md-1.col-sm-1.col-xs-1
    .col-lg-4.col-md-4.col-sm-4.col-xs-4
      .row-header Find Carts In Your Area
  #map-container.row
    #map-input
      %form.search-form
        .input-block
          %input.gmaps-input{name: "tq", placeholder: "Halal Guys, wafles and dinges, breakfast"}
          %input.gmaps-input.location-input{name: "lq", placeholder: "10282, brooklyn, 456 allen st"}
        %button.gmaps-button.btn.btn-primary{type: "submit"}
          =image_tag("search.png")
      .more.hide
        %a{href: "#"}More
    #map-tags
      .tags-header
        %a{href: "#"} Search For

      .form-group
        .checkbox.tag
          %label{"data-category-id" => "all"}
            %input{type: "checkbox"} All
        -Category.most_popular(6).each do |cat|
          .checkbox.tag
            %label{"data-category-id" => cat.id}
              %input{type: "checkbox"}
                =cat.name
    #map-div

  %footer.row
    .row
      .col-lg-12
        %p Copyright © Cartwheels 2014
