-content_for :head do
  =javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDeTwOMn3ZRwUcETE8wB2zxTVR-Dznbgv0"
  =javascript_include_tag "gmaps.js"

#heading
  %h1 Listing carts

  = link_to 'New Cart', new_cart_path, "data-no-turbolink" => true

#carts
  -@carts.each do |cart|
    =render partial: "carts/cart", locals: {cart: cart, small: true}
