-content_for :head do
  =javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDeTwOMn3ZRwUcETE8wB2zxTVR-Dznbgv0"
  =javascript_include_tag "gmaps.js"

#carts
  #top-content
    %nav#search-bar.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .collapse.navbar-collapse.row
        .col-lg-4
          .nav.navbar-nav.padded
            .home-link
              %a{href: home_path, "data-no-turbolink" => true}
                =image_tag("cw-logo-no-text-white.png")
        %form.navbar-form.search-form.col-lg-8{role: "search", action: "/search"}
          .form-group
            %input.form-control.form-input#food{type: "text", name: "tq", placeholder: "Food", value: @tq}
            %input.form-control.form-input.location-input#loc{type: "text", name: "lq", placeholder: "Location", value: @lq}
            %button.nav-btn

  #main-content
    #title-bar.row
      .col-lg-2
        .column-header
          =link_to "Featured Carts", "#"
      .col-lg-8
        .column-header
          =link_to "Current Cart", "#"
      .col-lg-2
        .column-header
          =link_to "Similar Carts", "#"

    #featured-bar.col-lg-2.column.column-left
    #search-results.col-lg-7.column.column-center
      .column-content
        =render partial: "carts/show_cart", locals: {cart: @cart}
