(function() {
    var controller, cartMap;
    var lastVertPos, searchOffset = 0, searchLimit = 20;
    var infoTemplate = "\
        <div class'marker-header'><a href='/carts/{{id}}'>{{name}}</a></div>\
        <div class='rating' data-score='{{rating}}' style='width: 100px; height: 20px;'></div>\
        ";
    var data = {
        'tq': '',
        'lq': '',
        'offset': searchOffset,
        'limit': searchLimit,
        'categories': [],
        'box': []
    };

    var init = function() {
        controller = $('#home-index #content-wrapper');
    }

    var onScroll = function(e) {
        var currVertPos = $(window).scrollTop();
        var delta = currVertPos - lastVertPos;

        $(".poster").each(function(){
            $(this).css("top", parseFloat($(this).css("top")) -
                delta * $(this).attr("speed") + "px");
        });

        lastVertPos = currVertPos;
    }

    var renderMap = function(data) {
        cartMap.removeMarkers();

        $.each(data.data, function(i, d) {
            //Extend the bounds of the map
            var latlng = new google.maps.LatLng(d.lat, d.lon);

            var infoWindow = new google.maps.InfoWindow({
                content: infoTemplate.replace(/{{name}}/, d.name)
                    .replace(/{{id}}/, d.id)
                    .replace(/{{rating}}/, d.rating)
            });
            google.maps.event.addListener(infoWindow, 'domready', function(e) {
                controller.find('.rating').raty({
                    starOff: "<%= asset_path("star-off.png") %>",
                    starOn: "<%= asset_path("star-on.png") %>",
                    starHalf: "<%= asset_path("star-half.png") %>",
                    readOnly: true,
                    size: 4,
                    score: function() {
                        return $(this).attr('data-score');
                    }
                });
            });

            //Add a marker
            cartMap.addMarker({
                lat: d.lat,
                lng: d.lon,
                title: d.name,
                infoWindow: infoWindow,
                click: function(e) {
                    cartMap.setCenter(d.lat, d.lon);
                }
            });
        });

        //Increase search offset if more results, else reset
        if (data.data.length === searchLimit) {
            controller.find('.more').removeClass('hide');
        }
        else {
            controller.find('.more').addClass('hide');
        }
    }

    var search = function() {
        var bounds = cartMap.map.getBounds();
        var center = cartMap.getCenter();
        var sw = bounds.getSouthWest(),
            ne = bounds.getNorthEast();

        cartMap.removeMarkers();
        data['limit'] = searchLimit;
        data['categories'] = _.map(controller.find(':checked'), function(d) {
            return $(d).parent().attr('data-category');
        });
        data['box'] = [sw.lat() + " " + sw.lng(), ne.lat() + " " + ne.lng()];
        data['lq'] = center.lat() + " " + center.lng();
        $.getJSON('/carts/search', data, renderMap);
    }

    var onBoundsChange = function() {
        controller.find('.more').removeClass('hide');
        searchLimit = 20;
    }

    var loadResults = function(inputs) {
        data['tq'] = inputs.tq;

        if(inputs.lq !== '') {
            GMaps.geocode({
                address: inputs.lq,
                callback: function(results, status) {
                    if(status == 'OK') {
                        var latlng = results[0].geometry.location;
                        cartMap.setCenter(latlng.lat(), latlng.lng());
                        cartMap.setZoom(14);
                        search();
                    }
                }
            });
        }
        else {
            search();
        }
    }

    var ready = function(e) {
        init();

        if (controller.length === 0) return;

        window.scrollTo(0,0);
        searchOffset = 0;
        searchLimit = 20;
        lastVertPos = $(window).scrollTop();

        cartMap = new GMaps({
            div: '#map-div',
            lat: 40.7820015,
            lng: -73.8317032,
            zoom: 11,
            scrollwheel: false
        });

        google.maps.event.addListener(cartMap.map, 'dragend',
            onBoundsChange);
        google.maps.event.addListener(cartMap.map, 'zoom_changed',
            onBoundsChange);

        controller.find('.more').click(function(e) {
            e.preventDefault();
            searchLimit += 20;
            data['limit'] = searchLimit;
            search();
        });

        controller.find('.search-form').searchForm({
            searchCallback: loadResults
        });

        controller.find('.navbar-center li').click(function(e) {
            e.preventDefault();

            var $container = $(this).parent();
            $container.find('li.active').removeClass('active');
            $(this).addClass('active');
        });

        controller.find('.navbar-center a').click(function(e) {
            if($(this).attr('data-target') == 1) {
                controller.find('.other.poster').removeClass('hide');
                controller.find('#main-content').hide();
                controller.find('#about-content').show();
            }
            else {
                controller.find('.other.poster').addClass('hide');
                controller.find('#about-content').hide();
                controller.find('#main-content').show();
            }
        });

        $(window).scroll(onScroll);
    };

    $(document).ready(ready);
    $(document).on('page:load', ready);
})();
