(function() {
    var controller, cartMap;
    var lastVertPos, searchOffset, searchLimit;
    var infoTemplate = "\
        <div class'marker-header'><a href='/carts/{{id}}'>{{name}}</a></div>\
        <div class='rating' data-score='{{rating}}' style='width: 100px; height: 20px;'></div>\
        ";

    var init = function() {
        controller = $('#home-index #content-wrapper');
    }

    var onScroll = function(e) {
        var currVertPos = $(window).scrollTop();
        var delta = currVertPos - lastVertPos;

        $("#poster").each(function(){
            $(this).css("top", parseFloat($(this).css("top")) -
                delta * $(this).attr("speed") + "px");
        });

        lastVertPos = currVertPos;
    }

    var renderMap = function(data) {
        var bounds = [];
        cartMap.removeMarkers();

        $.each(data.data, function(i, d) {
            //Extend the bounds of the map
            var latlng = new google.maps.LatLng(d.lat, d.lon);
            bounds.push(latlng);

            var infoWindow = new google.maps.InfoWindow({
                content: infoTemplate.replace(/{{name}}/, d.name)
                    .replace(/{{id}}/, d.id)
                    .replace(/{{rating}}/, d.rating)
            });
            google.maps.event.addListener(infoWindow, 'domready', function(e) {
                console.log(controller.find('.rating'));
                controller.find('.rating').raty({
                    starOff: "<%= asset_path("star-off.png") %>",
                    starOn: "<%= asset_path("star-on.png") %>",
                    starHalf: "<%= asset_path("star-half.png") %>",
                    readOnly: true,
                    size: 4,
                    score: function() {
                        return $(this).attr('data-score');
                    }
                });
            });

            //Add a marker
            cartMap.addMarker({
                lat: d.lat,
                lng: d.lon,
                title: d.name,
                infoWindow: infoWindow,
                click: function(e) {
                    cartMap.setCenter(d.lat, d.lon);
                }
            });

            //Center on the last data point
            if (i === data.data.length - 1) {
                cartMap.setCenter(d.lat, d.lon);
            }
        });

        cartMap.fitLatLngBounds(bounds);

        //Increase search offset if more results, else reset
        if (data.data.length === searchLimit) {
            searchOffset += searchLimit;
        } else {
            searchOffset = 0;
        }
    }

    var loadResults = function(inputs) {
        //Set map center to geocoded address
        //Get map bounds
        //Get checked categories
        //Search with query, map bounds, and categories
        var data = {
            'tq': inputs.tq,
            'lq': inputs.lq,
            'offset': searchOffset,
            'limit': searchLimit
        };

        $.getJSON('/carts/search', data, renderMap);
    }

    var ready = function(e) {
        init();

        if (controller.length === 0) return;

        //Variables
        $(window).scrollTop(0);
        searchOffset = 0;
        searchLimit = 20;
        lastVertPos = $(window).scrollTop();

        cartMap = new GMaps({
            div: '#map-div',
            lat: 40.7820015,
            lng: -73.8317032,
            zoom: 11,
            scrollwheel: false
        });

        controller.find('.search-form').searchForm({
            searchCallback: loadResults
        });

        controller.find('.navbar-center li').click(function(e) {
            e.preventDefault();

            var $container = $(this).parent();
            $container.find('li.active').removeClass('active');
            $(this).addClass('active');
        });

        $(window).scroll(onScroll);
    };

    $(document).ready(ready);
    $(document).on('page:load', ready);
})();
