$sectionWidth: 740px

#carts
    //Links and icons
    .slide-icon
        font-size: 1.2em

        display: inline-block
        width: 20px
        height: 250px
        margin-left: 10px
        vertical-align: top
        padding-top: 125px

    .cart-btn
        font-size: 1em

        margin-top: 5px
        padding: 3px 8px
        @include vendor(border-radius, 2px)


    .more-link
        font-size: 15px
        margin-top: 5px

    .directions-link
        font-size: 13px

    .warning
        color: getColor(red) !important

    .rating
        img
            width: 17px
            height: auto

    .no-results-header
        font-size: 17px

        padding-top: 40%

        a
            color: getColor(red)

    .form-section
        width: 100%
        margin: 50px 0
        padding: 20px 50px
        background: #eee

        @include vendor(border-radius, 2px)

        .form-header
            color: #222

        .form-input
            border: 1px solid #aaa
