$sectionWidth: 740px

#search-index, #carts-show, #owners-show
    #top-content
        @include scale-property(height, 100px)
        background: getColor(default)

        .navbar
            z-index: 1

        .padded
            @include scale-property(padding-top, 10px)
            @include scale-property(padding-left, 40px)

        .nav-btn
            @include scale-property(margin-bottom, 7px)
            @include vendor(border-radius, 2px)

        .form-input
            border: none

        .home-link
            font-family: "Bebas Regular"
            @include scale-property(font-size, 25px)

            @extend .highlight-default

        #search-bar
            background: #333
            @include scale-property(padding-top, 12px)
            @include scale-property(padding-bottom, 12px)
            top: -500px

            border: none
            @include vendor(transition, all 0.4s ease 0s)

        #loc
            @include scale-property(width, 300px)


    #main-content
        height: 100%
        background: white

    #title-bar
        padding: 0px
        margin: 0
        @include scale-property(margin-bottom, 10px)

        background: getColor(default)
        border-bottom: 2px solid #222

        .column-header
            font-family: "Bebas Regular"
            @include scale-property(font-size, 25px)

            padding-left: 20%
            @include scale-property(padding-bottom, 10px)
            @include scale-property(padding-top, 10px)

            @extend .highlight-black

    .column-center
    .column-left

    .column-right


#carts
    //Links and icons
    .slide-icon
        font-size: 1.2em

        display: inline-block
        @include scale-property(width, 20px)
        @include scale-property(height, 250px)
        @include scale-property(margin-left, 10px)
        vertical-align: top
        @include scale-property(padding-top, 125px)

    .cart-btn
        font-size: 1em

        @include scale-property(margin-top, 5px)
        padding: 3px 8px
        @include vendor(border-radius, 2px)


    .more-link
        @include scale-property(font-size, 15px)
        @include scale-property(margin-top, 5px)

    .directions-link
        @include scale-property(font-size, 13px)

    .warning
        color: getColor(red) !important

    .rating
        img
            @include scale-property(width, 17px)
            height: auto

    .no-results-header
        @include scale-property(font-size, 17px)

        padding-top: 40%

        a
            color: getColor(red)

    .location
        .mark-as-moved
            display: block
            font-size: 0.8em
            padding-left: 5%

            a
                color: getColor(red)

    .moved-notice
        font-size: 1.5em
        @include scale-property(line-height, 50px)

    .section-header
        font-size: 2em
        font-family: "Bebas Regular"
        text-align: center

        display: block
        width: $sectionWidth
        margin-right: auto
        @include scale-property(margin-top, 20px)
        @include scale-property(margin-bottom, 50px)
        border-bottom: 2px solid #333

    .form-section
        width: 100%
        margin: 50px 0
        padding: 20px 50px

        border: 1px solid #aaa
        @include vendor(border-radius, 2px)

        .form-header
            color: #222

        .form-input
            border: 1px solid #aaa
