$sectionWidth: 740px

#search-index, #carts-show, #owners-show
    #top-content
        @include scale-property(height, 100px)
        background: getColor(default)

        .navbar
            z-index: 1

        .padded
            @include scale-property(padding-top, 10px)
            @include scale-property(padding-left, 40px)

        .nav-btn
            display: none
            width: 15%
            padding: 0
            @include scale-property(margin-bottom, 7px)
            @include vendor(border-radius, 2px)

        .form-input
            border: none

        .home-link
            padding-bottom: 10px

            img
                width: 40px

        #search-bar
            background: #333
            @include scale-property(padding-top, 12px)
            @include scale-property(padding-bottom, 12px)
            top: -500px

            border: none
            @include vendor(transition, all 0.4s ease 0s)

        #loc
            @include scale-property(width, 300px)


    #main-content
        height: 100%
        background: white

    #title-bar
        padding: 0px
        margin: 0
        @include scale-property(margin-bottom, 10px)

        background: getColor(default)
        border-bottom: 2px solid #222

        .column-header
            font-family: "Bebas Regular"
            @include scale-property(font-size, 25px)

            padding-left: 20%
            padding-bottom: 5%
            @include scale-property(padding-bottom, 10px)
            @include scale-property(padding-top, 10px)

            @extend .highlight-black

    .column-center
    .column-left

    .column-right


#carts
    .more-link
        @include scale-property(font-size, 15px)
        @include scale-property(margin-top, 5px)

    .directions-link
        @include scale-property(font-size, 13px)

    .action-link
        font-size: 1.2em

        display: inline-block
        margin: 0 5px

        @extend .highlight-blue

        span, a
            color: black

    .glyphicon-leaf
        font-size: 1.2em
        color: green !important
        padding-right: 10%

    .not-available
        font-size: 2em

    .warning
        color: getColor(red) !important

    .rating
        img
            @include scale-property(width, 17px)
            height: auto

    .categories
        .item
            color: white

            display: inline-block
            padding: 3px 6px

            background: #222
            @include vendor(border-radius, 2px)

            a
                color: white
