.wheels-form
    margin: 0 auto

    .form-input
        width: 70%
        @include scale-property(height, 32px)

    label
        color: white
        size: 1.5em

.form-header
    font-family: "Bebas Book"
    font-weight: bold
    color: #eee
    @include scale-property(font-size, 30px)

    margin-bottom: 2%

    @extend .highlight-blue
    @extend .underline-blue

.form-desc
    font-family: "Helvetica Neue"
    font-size: 1.2em
    font-weight: 500
    color: white

    margin-bottom: 5%


.form-label
    font-family: OpenSans
    font-weight: 500
    font-size: 1.5em
    color: #eee
    vertical-align: middle

    @include scale-property(height, 32px)
    @include scale-property(line-height, 32px)

.form-input
    font-size: 1.2em
    font-weight: 300

    display: block
    width: 80%
    margin-bottom: 8px
    padding-left: 11px
    padding-right: 13px
    vertical-align: middle
    @include scale-property(height, 32px)
    @include scale-property(line-height, 20px)

    border: 1px solid transparent
    border-radius: 2px
    box-sizing: border-box
    outline: none
    background-color: #fff
    text-overflow: ellipsis

    @include vendor(transition, all 0.2s ease 0s)

    &.no-scale
        height: 32px
        line-height: 20px

    &:focus
        border-color: #4d90fe

    .has-error &
        border: 1px solid getColor(red)

.form-text-area
    width: 80%

.form-btn
    font-size: 1.2em
    color: white

    vertical-align: middle
    @include scale-property(height, 32px)
    @include scale-property(line-height, 16px)
    @include scale-property(padding-left, 30px)
    @include scale-property(padding-right, 30px)

    @include vendor(transition, all 0.2s ease 0s)

    &.no-scale
        height: 32px
        line-height: 20px

    &:hover
        color: #eee

.file-btn
    font-weight: 500

    position: relative
    overflow: hidden
    background: getColor(red)

    input[type=file]
        position: absolute
        top: 0
        right: 0
        min-width: 100%
        min-height: 100%
        font-size: 999px
        text-align: right
        filter: alpha(opacity=0)
        opacity: 0
        background: red
        cursor: inherit
        display: block

    &:hover
        opacity: 0.9

input[type=readonly]
    background-color: white !important
    cursor: text !important

.help-block
    font-size: 1.5em
    font-color: getColor(red)

    margin: 0px
    height: 0px
    @include vendor(transition, all 0.4s ease 0s)

    .has-error &
        height: 20px
