@font-face
    font-family: "Bebas Neue"
    src: asset-url("BebasNeue.otf")
    weight: normal

@font-face
    font-family: "Bebas Book"
    src: asset-url("BebasNeue-Book.otf")
    weight: normal

@font-face
    font-family: "Roboto Light"
    src: asset-url("Roboto-Light.ttf")
    weight: normal

@font-face
    font-family: Roboto
    src: asset-url("Roboto-Medium.ttf")
    weight: normal

@font-face
    font-family: OpenSans
    src: asset-url("OpenSans-Regular.ttf")
    weight: normal

