@import bootstrap
@import jquery.raty.css
@import variables
@import functions
@import mixins
@import typography
@import form
@import highlight
@import sidebar
@import tab_list
@import modal
@import cart_layout
@import map_form
@import home
@import search
@import cart
@import carts
@import reviews
@import menus
@import users
@import owners
@import checkins
@import categories

html, body
    -webkit-font-smoothing: antialiased

    width: 100%
    height: 100%
    @include scale-property(font-size, 12px)

body.loading
    overflow: hidden

.loading-modal
    z-index: 100000
    position: fixed
    display: none
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat

.loading .loading-modal
    display: block

#content-wrapper
    width: 100%
    height: 100%

    a
        text-decoration: none

.flash-wrapper
    position: absolute
    z-index: 1000
    left: 50%
    top: 10%

    .alert-abs
        font-family: "Helvetica Neue"
        text-align: center
        @include scale-property(font-size, 20px)

        position: relative
        left: -50%
        margin: 0 auto
