/* Stylesheet for the application */
@import variables
@import mixins
@import carts
@import reviews
@import menus
@import search
@import users

html
    height: 100%
    position: relative

    body
        height: 100%

        #mainContent
            width: $contentWidth
            height: 100%
            margin: auto
