/* Stylesheet for the application */
@import variables
@import mixins
@import carts
@import reviews
@import menus
@import search
@import users
@import uploads

html
    height: 100%
    position: relative

    body
        height: 100%

        >div
            width: $contentWidth
            height: 100%
            margin: auto
