/* Stylesheet for the cart page */
$sectionWidth: 740px

#carts-new, #carts-edit, #carts-create, #carts-update
    width: 100%
    height: 100%

    #content-wrapper
        width: 60%
        margin-left: auto
        height: 100%

        .form-header
            a
                color: white

#carts-index, #carts-show
    width: 100%
    height: 100%

    #content-wrapper
        height: 100%
        width: 100%

#carts-new, #carts-edit, #carts-create, #carts-update
    width: 100%
    height: 100%
    font-size: 1em

    padding-left: 10%
    overflow-x: hidden

    background: getColor(default)

    #content-wrapper
        position: relative
        width: 60%
        height: 100%
        margin-left: auto

        background: #222
        box-shadow: 0px 4px 12px #222

        .img-preview
            display: none

        .form-btn
            @include scale-property(margin-right, 10px)

#carts-show, #owners-show
    width: 100%
    height: 100%

    .slide-icon
        display: none

    .checkin-btn
        @include scale-property(margin-bottom, 10px)
        @include scale-property(margin-left, 10px)

    //Carts
    .cart .container
        font-family: OpenSans

        display: inline-block
        padding-left: 2%
        padding-right: 2%
        padding-bottom: 2%
        padding-top: 1%
        @include scale-property(margin-bottom, 20px)

        position: relative
        overflow: hidden

        > .name
            @include scale-property(font-size, 20px)
            display: inline-block
            width: 100%

            > .green-btn
                display: inline-block

            > .checkin-btn
                display: inline-block
                @include scale-property(margin-left, 10px)

    //Content
    .content
        height: 100%

        @include vendor(transition, all 0.7s ease 0s)

        &.first
            left: 0

        &.second
            left: -100%

        &.third
            left: -200%

        &.fourth
            left: -300%

        .section
            display: block
            width: $sectionWidth
            @include scale-property(height, 250px)
            @include scale-property(padding-top, 10px)
            @include scale-property(margin-top, 10px)

        .form-section
            width: $sectionWidth

            .rating
                margin-left: 1%

    //Sections
    .info
        .photo
            @include scale-property(width, 100px)
            @include scale-property(height, 100px)

            img
                @include scale-property(width, 100px)
                @include vendor(border-radius, 2px)

        .categories
            @include scale-property(margin-top, 10px)
            @include scale-property(height, 25px)
            @include vendor(transition, all 0.4s ease 0s)

            .item
                display: inline-block
                @include scale-property(padding, 3px)
                @include scale-property(margin-bottom, 2px)

                background: getColor(red)
                @include vendor(border-radius, 2px)

                &:hover
                    opacity: 0.8

                a
                    color: white

        .location
            .map
                img
                    @include vendor(border-radius, 2px)

            .address
                @include scale-property(margin-top, 5px)

                .address-heading
                    @include scale-property(font-size, 13px)
                    font-weight: bold

                    display: inline-block

        .hours
            padding: 0

            .hours-heading
                font-size: 1.4em
                font-weight: bold
                color: getColor(default)


            .item
                font-size: 1em

            .start, .end
                padding: none

            .day, .bridge
                font-weight: 600

            .day
                display: inline-block
                width: 28% !important

            .bridge
                @include scale-property(width, 10px)
                padding: 0

            .add-hours
                @include scale-property(margin-top, 10px)

            .form-control
                font-family: OpenSans
                font-size: 0.8em

                @include scale-property(width, 75px)
                @include scale-property(height, 20px)
                padding: 0

    .menu
        .notes
            .item
                display: none
                font-family: "OpenSans Italic"

                @include scale-property(margin, 10px)
                font-size: 1.1em

                .user
                    font-family: OpenSans
                    font-weight: bold

        .add-note
            .form-text-area
                font-size: 0.9em
                @include scale-property(width, 230px)

        .notes-left
            padding-left: 20%

        .notes-right
            padding-right: 20%

        .carousel
            @include scale-property(width, 250px)
            @include scale-property(height, 220px)

            .carousel-indicators
                li
                    background: getColor(default)

                    &.active
                        background: getColor(red)

                        @include scale-property(width, 13px)
                        @include scale-property(height, 13px)

            .carousel-inner
                width: 100%
                height: 100%

                .item
                    width: 100%
                    height: 100%
                    text-align: center

                    .name
                        font-family: Roboto
                        @include scale-property(font-size, 15px)

                        margin: 0 auto

                    img
                        margin: 0 auto
                        @include scale-property(margin-top, 15px)
                        @include scale-property(height, 110px)

                        @include vendor(border-radius, 2px)

                    .price
                        font-weight: bold

                    .content-popover
                        display: none

            .carousel-caption
                color: #222
                text-shadow: none

            .carousel-control
                color: #222

                vertical-align: middle

                background: none

    .reviews
        vertical-align: top
        height: 100%
        @include scale-property(padding-bottom, 30px)
        overflow-y: scroll

        .item
            @include scale-property(padding-bottom, 20px)

            .user
                font-family: Roboto
                font-size: 1.2em

            .date
                color: #666

            .text
                width: 80%
                margin: 0 auto
                @include scale-property(margin-top, 10px)
                @include scale-property(padding-top, 10px)
                @include scale-property(padding-left, 20px)
                @include scale-property(padding-bottom, 20px)

                border-left: 1px solid getColor(default)

                @include vendor(transition, all 0.2s ease 0s)

                &:hover
                    @include vendor(transform, scale(1.2))

    .checkins
        vertical-align: top

        width: 105%
        height: 100%

        .item
            display: inline-block
            @include scale-property(margin, 2px)

            .photo
                img
                    @include vendor(border-radius, 2px)

