/* Stylesheet for the cart page */

#carts-index, #carts-new, #carts-edit, #carts-show
    width: 100%
    height: 100%
    font-size: 1.5em

    #content-wrapper
        width: 60%
        height: 100%
        margin-left: auto
