$posterHeight: 450px
$posterOffset: 300px
$navHeight: 90px
$mapHeight: 600px

//Controller parent element prevents conflicts across pages
#home-index
    font-family: "Bebas Regular"

    //Id selector implies unique css styles
    #tab-bar
        //Normal styles
        //Font related properties come first
        font-size: 1.6em

        //Size and position related properties second
        margin-bottom: 0

        //Mixins are separated from other styles
        @include scale-property(margin-top, $posterHeight)
        @include scale-property(height, $navHeight)
        @include vendor(border-radius, 0)

        //Multiple levels of nesting are not necessary if there are no conflicts
        .container
            width: 100%
            height: inherit
            text-align: center


        //Group same level elements together
        .nav
            display: inline-block
            text-align: center

        //Container divs appear before smaller elements
        .navbar-center
            //Centers the div
            float: none
            padding: 0

            @include scale-property(margin-top, 35px)

        .navbar-left
            width: 30%

            @include scale-property(margin-top, 34px)

        .navbar-right
            padding-left: 10%
            width: 30%

            @include scale-property(margin-top, 12px)

        //Smaller element
        .navbar-brand
            @include scale-property(padding-left, 18px)
            @include scale-property(padding-right, 15px)

            //Element selectors are always nested under direct parent
            //4 levels of nesting is maximum
            > img
                @include scale-property(width, 40px, 0.8, 0.7, 0.5, 0.4)

        //Smaller element
        //Specific types of links named <type>-link
        .login-link
            font-size: 1.1em

            display: inline-block
            padding-left: 10px
            padding-right: 10px

            @extend .highlight-gray

    #main-content
        position: relative
        width: 100%
        height: 100%
        padding: 0

        background-size: cover
        background-position: center
        overflow: hidden

        background-color: getColor(default)

        #map-container
            position: relative
            width: 80%
            height: 80%
            margin: auto
            padding: 0

        #map-input
            font-family: "Roboto Light"
            font-size: 1.3em

            z-index: 1
            position: absolute
            display: block
            width: 100%
            top: 3%
            left: 8%

        #map-tags
            z-index: 1
            position: absolute
            right: 0

            background-color: rgba(0, 0, 0, 0.8)

            @include scale-property(width, 118px, 0.9, 0.85, 0.7, 0.6)
            @include scale-property(height, $mapHeight * 0.8)
            @include scale-property(margin-top, 50px)
            @include vendor(border-radius, 2px)
            @include vendor(transition, all 0.2s ease 0s)

            &:hover
                background-color: rgba(0, 0, 0, 0.9)

            .tags-header
                font-size: 1.7em

                text-align: center

                @include highlight-full(blue)
                @include underline(blue)

            .form-group
                @include scale-property(margin-top, 20px)

            .tag
                font-family: OpenSans
                font-size: 1.25em
                color: white

                width: 100%
                display: block
                word-wrap: break-word

                @include scale-property(margin-bottom, 40px)
                @include scale-property(padding-left, 7px)

            input[type="checkbox"]
                @include scale-property(margin, 5px)

        #map-div
            z-index: 0
            @include scale-property(height, $mapHeight)

        .more
            font-family: OpenSans
            color: white
            width: 5%

            display: block
            padding: 3px

            &.hide
                display: none

        .row
            @include scale-property(margin-top, 20px)
            @include scale-property(margin-bottom, 10px)
            @include scale-property(margin-left, 10px)

        .row-header
            font-family: "Bebas Neue"
            font-size: 2.5em
            color: white

            text-align: center

            border: 2px solid white

        footer
            font-size: 1.7em
            color: white

            text-align: center

            @include scale-property(margin-left, 50px)
            @include scale-property(margin-right, 50px)
            @include scale-property(margin-top, 25px)
            @include scale-property(margin-bottom, 50px)

    #about-content
        font-size: 2em

        position: relative
        display: none
        width: 100%
        height: 100%
        padding: 0

        background-size: cover
        background-position: center

        .section
            z-index: 1
            position: relative
            width: 100%
            background: white
            margin-bottom: 310px
            height: 500px

            &.last
                height: 300px

        .section-header
            text-align: center
            font-size: 1.5em

            width: 70%
            margin: 0 auto
            padding-top: 5%
            padding-bottom: 2%

            border-bottom: 3px solid #222

        .section-content
            font-family: OpenSans
            font-size: 0.7em
            width: 75%
            height: 100%
            margin: 0 auto
            padding-top: 2%

            > ul
                margin-bottom: 8%

            > li
                margin-bottom: 1%


        .bio
            position: relative
            display: inline-block
            vertical-align: top
            height: 300px
            margin-right: 5%
            margin-bottom: 5%

            > img
                z-index: 2
                position: relative
                width: auto

                @include scale-property(height, 300px)
                @include vendor(transition, all 0.4s ease 0s)

                //Event selectors can be nested to 5 levels
                &:hover
                    opacity: 0.1

            .text
                font-family: Roboto
                font-size: 0.8em

                z-index: 1
                position: absolute
                width: 100%
                top: 10%
                text-align: center

            .name
                font-size: 1.3em
                font-weight: bold

    //If unsure, level of nesting corresponds to highest level an element
    //appears at
    .poster
        z-index: 0
        position: absolute
        width: 100%

        @include scale-property(height, $posterHeight + $posterOffset)

        &.hide
            display: none

        .fill
            position: relative
            width: 100%
            height: 100%

            background-position: top center
            background-size: cover
            opacity: 0.8

        .banner
            font-family: "Bebas Book"

            text-align: center

            opacity: 1.0

            @include scale-property(line-height, $posterHeight)

            > span
                font-size: 8em
                color: white

                line-height: normal
                vertical-align: middle

    //Type > grouping > level of nesting
    .poster-top
        top: 0

        .fill
            background-image: image-url("header.png")

    .poster-top-middle
        top: 400px

        .fill
            background-image: image-url("times-square.jpg")

    .poster-middle-one
        top: 1492px

        .fill
            background-image: image-url("lightbulb.jpg")

    .poster-middle-two
        top: 2584px

        .fill
            background-image: image-url("food-cart.jpg")

    .poster-bottom-middle
        top: 3750px

        .fill
            background-image: image-url("skyline.jpg")


    .poster-bottom
        top: 4950px

        .fill
            background-image: image-url("cw-logo-no-text.jpg")
            background-size: auto
            background-repeat: no-repeat
