// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

#search-index
    width: 100%
    height: 100%

    #content-wrapper
        width: 100%
        height: 100%

        #top-content
            height: 100px
            background: getColor(default)

        #main-content
            height: 100%
            background: white

        #title-bar
            padding: 0px
            margin: 0
            margin-bottom: 10px

            background: #333

            .column-header
                font-family: "Bebas Regular"
                font-size: 25px
                color: #eee

                padding-left: 20%
                padding-bottom: 10px
                padding-top: 10px

                @extend .highlight-blue

        .column-center
        .column-left

        .column-right

