.user_name
  %b Uploader:
  = upload.user.name

.updated_at
  %b Last Updated:
  = upload.updated_at

.cart_name
  %b Cart name:
  = upload.cart.name

.permit_number
  %b Permit number:
  = upload.cart.permit_number
