.wheels-form
  =form_for ccr, remote: true, url: cart_cart_category_relations_path(cart), html: {'data-model' => 'cart_category_relation', :class => 'form-inline'} do |f|
    .form-group
      .row
        =f.select :category_id, options_for_select(category_options), {}, {class: "form-control"}
        =f.submit "Submit", class: "btn btn-primary cart-btn"
      .row
        .help-block
