#form-wrapper.wheels-form
  .form-header Add a review

  = form_for review, remote: true, url: cart_reviews_path(cart), html: {'data-model' => 'review'} do |f|
    .form-group
      .row
        .rating
      .row
        .help-block

    .form-group
      .row
        = f.text_area :text, :class => 'form-control form-text-area',
            :placeholder => 'Text of the review'
      .row
        .help-block

    .form-group.row
      = f.submit "Submit", class: "btn btn-primary form-btn"

