-content_for :head do
  =javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDeTwOMn3ZRwUcETE8wB2zxTVR-Dznbgv0"
  =javascript_include_tag "gmaps.js"

#carts
  #top-content
    %nav#search-bar.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .collapse.navbar-collapse.row
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
          .nav.navbar-nav.padded
            .home-link
              %a{href: home_path, "data-no-turbolink" => true}
                =image_tag("cw-logo-no-text-white.png")
        %form.navbar-form.search-form.col-lg-8.col-md-8.col-sm-8.col-xs-8{role: "search", action: "/search"}
          .form-group
            %input.form-control.form-input#food{type: "text", name: "tq", placeholder: "Food", value: tq}
            %input.form-control.form-input.location-input#loc{type: "text", name: "lq", placeholder: "Location", value: lq}
            %button.nav-btn

  #main-content
    #title-bar.row
      .col-lg-3.col-md-3.col-sm-2.col-xs-2
        .column-header
          =link_to "Featured Carts", "#"
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        .column-header
          -if small
            =link_to "Search Results", "#"
          -else
            =link_to "Current Cart", "#"
      .col-lg-3.col-md-3.col-sm-3.col-xs-3
        .column-header
          -if small
            =link_to "Reviews", "#"
          -else
            =link_to "Similar Carts", "#"

    #featured-bar.col-lg-3.col-md-3.col-sm-3.col-xs-3.column.column-left

    #search-results.col-lg-6.col-md-6.col-sm-6.col-xs-6.column.column-center
      .column-content
        -if carts.count > 0
          -if small
            -carts.each do |cart|
              =render partial: "carts/search_cart", locals: {cart: cart}
            =yield :pagination
          -else
            =render partial: "carts/show_cart", locals: {cart: carts[0]}
        -else
          .blank-message=blank_message

    #other-results.col-lg-3.col-md-3.col-sm-3.col-xs-3.column.column-right
